
* {
    margin: 0;
    padding: 0;
    box-sizing:inherit;
    box-sizing: 80%;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    padding: 20px;
    background-color: lightsalmon;
}

.hight {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header .image {
    flex: 1;
}

header .image img {
    border-radius: 80%;
}

header .name {
    flex: 2;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

header h3 {
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
}


h2 {
    color: #333;
    margin-bottom: 10px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0;
}

p, table {
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    background: #eee;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input[type="text"], 
form input[type="tel"], 
form input[type="email"], 
form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #555;
}
